<%- include('includes/head'); %>

<!-- Cabeçalho -->
<%- include('includes/nav'); %>

<!-- Conteúdo Principal -->
<main class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-2">
            <h1>Lista de Funcionarios</h1>
            <p>Utilize a interface abaixo para ter acesso a listagem e controle dos funcionários.</p>
        </div>
    </div>
    <%- include('includes/messages'); %>
    <!-- Botões de Acesso -->
    <% if(user.role === 'admin') { %>
    <div class="row mt-2">
        <div class="col-12 text-center">
            <a href="/funcionarios/registrar" class="btn btn-primary mx-2 flex-grow-1">Registrar Funcionários</a>
        </div>
    </div>
    <% } %>
    <div class="container">
        <h1 class="my-5">Lista de Funcionários</h1>
        <table class="employee-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Empresa</th>
                    <th>Cargo</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aqui você pode inserir dinamicamente as linhas com as informações dos funcionários -->
                <% funcionario.forEach(funcionario => { %>
                    <tr>
                        <td><%= funcionario.nome %></td>
                        <td><%= funcionario.idade %></td>
                        <td><%= funcionario.email %></td>
                        <td><%= funcionario.telefone %></td>
                        <td><%= funcionario.empresa %></td>
                        <td><%= funcionario.cargo %></td>
                        <td class="icons-text"><a href="/funcionarios/registrar/<%= funcionario._id%>"><i class="fas fa-edit"></i></a></td>
                        <td class="icons-text"><a class="text-danger" href="/funcionarios/registrar/delete/<%= funcionario._id%>"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        
                    </tr>
                <% }); %>
                
                <!-- Mais funcionários -->
            </tbody>
        </table>
    </div>
</main>
<script rel="stylesheet" src="/assets/js/funcionarios.bundle.js"></script>

<%- include('includes/footer'); %>