<%- include('includes/head'); %>
<% if (success.length > 0) { %>
    <meta http-equiv="refresh" content="2;url=/">
<% } %>
<body>
    <%- include('includes/nav'); %>
    
    <div class="page">
        <div class="logo">
            
        </div>       
        <form action="/login/entrar" method="POST" class="formLogin">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <%- include('includes/messages'); %>
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Digite seu email" autofocus="true" />
            <label for="password">Senha</label>
            <input name="password" id="password"type="password" placeholder="Digite sua senha" />
            <input onclick="" type="submit" value="Acessar" class="btn" />
            <p>Você não tem uma conta ainda? <a href="/register" action="">Registre-se!</a></p>
        </form>
        
    </div>
    <script rel="stylesheet" src="./assets/js/login.bundle.js"></script>
<%- include('includes/footer'); %>