<%- include('includes/head'); %>

<!-- Cabeçalho -->
<%- include('includes/nav'); %>

<!-- Conteúdo Principal -->
<main class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h1>Registrar Novo Funcionário</h1>
            <p>Preencha o formulário abaixo para adicionar um novo funcionário ao sistema.</p>
        </div>
    </div>
    <%- include('includes/messages'); %>

    <!-- Formulário de Registro -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg">
                <div class="card-body">
                    <form action="/funcionarios/registrar/send" method="POST">
                        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                        <div class="form-group">
                            <label for="name">Nome Completo</label>
                            <input type="text" id="name" name="nome" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="age">Idade</label>
                            <input type="number" id="age" name="idade" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="phone">Telefone</label>
                            <input type="number" id="phone" name="telefone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="company">Empresa</label>
                            <input type="text" id="company" name="empresa" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="position">Cargo</label>
                            <input type="text" id="position" name="cargo" class="form-control" >
                        </div>
                        <button type="submit" class="btn btn-primary">Registrar Funcionário</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('includes/footer'); %>
