<%- include('includes/head'); %>

<!-- Cabeçalho -->
<%- include('includes/nav'); %>

<!-- Conteúdo Principal -->
<main class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <% if(funcionario._id) { %>
                    <h1>Editar Funcionário</h1>
                    <p>Preencha o formulário abaixo para editar um funcionário no sistema.</p>
                <% } else { %>
                    <h1>Registrar Novo Funcionário</h1>
                    <p>Preencha o formulário abaixo para adicionar um novo funcionário ao sistema.</p>
                <% } %>
        </div>
    </div>
    <%- include('includes/messages'); %>

    <!-- Formulário de Registro -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg">
                <div class="card-body">

                    <% if(funcionario._id) { %>
                    <form action="/funcionarios/registrar/edit/<%= funcionario._id %>" method="POST">
                    <% } else { %>
                        <form action="/funcionarios/registrar/send" method="POST">
                    <% } %>
                        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                        <div class="form-group">
                            <label for="name">Nome Completo</label>
                            <input value="<%= funcionario.nome %>" type="text" id="name" name="nome" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="age">Idade</label>
                            <input value="<%= funcionario.idade %>" type="number" id="age" name="idade" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input value="<%= funcionario.email %>" type="text" id="email" name="email" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="phone">Telefone</label>
                            <input value="<%= funcionario.telefone %>" type="number" id="phone" name="telefone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="company">Empresa</label>
                            <input value="<%= funcionario.empresa %>" type="text" id="company" name="empresa" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="position">Cargo</label>
                            <input value="<%= funcionario.cargo %>" type="text" id="position" name="cargo" class="form-control" >
                        </div>
                        <% if(funcionario._id) { %>
                            <button type="submit" class="btn btn-primary mr-2">Editar Funcionário</button>
                        <% } else { %>
                            <button type="submit" class="btn btn-primary mr-2">Registrar Funcionário</button>
                        <% } %>
                        
                        <button type="button" id="redirect-button" class="btn btn-danger">Voltar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script rel="stylesheet" src="/assets/js/funcionarios.bundle.js"></script>
<script src="/assets/js/reg-func.js"></script>

<%- include('includes/footer'); %>
