<%- include('includes/head'); %>
    <% if (success.length > 0) { %>
        <meta http-equiv="refresh" content="4;url=/login">
    <% } %>
    <%- include('includes/nav'); %>

    <div class="page">
        <div class="logo">
            
        </div>     
        <form action="/register/send" method="POST" class="formLogin">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <h1>Registro</h1>
            <p>Digite os dados que você deseja utilizar para acesso nos campos abaixo.</p>
            <%- include('includes/messages'); %>
            <label for="login">Usuário</label>
            <input name="user" id="login" type="login" placeholder="Digite seu usuário" autofocus="true" />
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Digite seu email" autofocus="true" />
            <label for="password">Senha</label>
            <input name="password" id="password"type="password" placeholder="Digite sua senha" />
            <input onclick="" type="submit" value="Registrar" class="btn" />
            <p>Você já possuí uma conta? <a href="/login" action="">Voltar!</a></p>
        </form>
        
    </div>
    <script rel="stylesheet" src="/assets/js/register.bundle.js"></script>
<%- include('includes/footer'); %>
